@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --white:#FFFFFF;
  --dark:#171b20;
  --light-gray-color:#f7f6f6;
  --primary-color:#127498;
  --secondary-color:#d69200;
}

body{font-family: "Open Sans", sans-serif; color:var(--dark); background-color:var(--light-gray-color);} 

.menuSidebar{width:18%; position:fixed; top:0; left:0; height:100%; box-shadow:0px 56px 2px rgba(0, 0, 0, 0.2); z-index:1; transition:all .4s ease-in-out;}
.menuSidebar.showSidebar{left:-100%; transition:all .4s ease-in-out;}
.menuSidebar .tophead{background-color:var(--light-gray-color); padding:5px 16px;}
.logo{font-size: 30px; text-transform: uppercase; font-weight: 800; text-shadow: 2px 2px 1px #0002;}
.logo img{max-width:100%;}
.logo:hover{text-decoration: none; outline: none;}

.menubar{padding: 16px 0; height: 100vh; overflow-y: auto;}
.menu-lists{list-style: none; padding:0;}
.menu-lists li a{display: flex; font-size:12px; font-weight:500; align-items: center; color: #64686d; line-height:10px; padding: 12px 18px; text-transform:uppercase; transition:all .3s ease-in-out;}
.menu-lists li a .icons{width:20px; margin-right:8px;}
.menu-lists li a .icons svg{font-size:18px;}
.menu-lists li a .arrow{position: absolute; right:16px;}

.dropdownSidebarMenu{background-color: #f8f9fa; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; padding: 0 40px;}
.dropdownSidebarMenu ul{margin:0; padding:6px 0; list-style: none;}
.dropdownSidebarMenu ul li>a{font-size:11px; padding:12px 16px; letter-spacing:0.5px; position: relative;}
.dropdownSidebarMenu ul li>a::before{content: ""; position: absolute; left:0; width:8px; height: 2px; background-color:#64686d; border-radius:5px;}
.menu-lists li:hover>a{background-color:var(--light-gray-color); text-decoration: none; color:var(--secondary-color);}

.light{background-color:var(--white); color:var(--dark);}
.dark{background-color:var(--dark); color:var(--white);}

.headerNavbar{width:82%; height:56px; box-shadow:0 0 2px rgba(0, 0, 0, 0.2); left:18%; top:0; position:fixed; transition: all .4s ease-in-out;}
.headerNavbar.setFull{left:0;}
.headerNavbar .toggleMenubar{width: 40px; height: 40px; background: #f0f0f0; margin: 8px; border-radius: 3px; font-size: 32px; color: #666; display: flex; justify-content: center; align-items: center; outline: none; border: none;}

.content-wrap{width:82%; margin-left:18%; margin-top:56px; padding:16px; transition: all .4s ease-in-out;}
.content-wrap.setFull{margin-left:0%;}

.footer{width:82%; height:56px; box-shadow:0 0 2px rgba(0, 0, 0, 0.2); left:18%; bottom:0; position:absolute; transition: all .4s ease-in-out;}
.setFull{width:100%; transition: all .4s ease-in-out;}